@use "components/Form/form" as *;
@use "components/Modal/modal" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  font-style: normal;
  background-color: gray;

  &.no-skroll-modal {
    overflow: hidden;
  }

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
